<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Gerenciador de Filmes</h1>
    
    <form method="get" action="{% url 'show_f' %}">
        <p>Procure seu Filme (Em Inglês):</p>
        <input type="text" name="titulo"/>
        <button type="submit">Buscar</button>
    </form>
    <br><br>
    <a href="{% url "list_f" %}">Filmes</a> | <a href="{% url "list_a" %}">Atores</a>
</body>
</html>